@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/* trashy colors of my beer palette
#E51535
#FAA70D
#CBA92B
*/

* {
    font-family: 'Amatic SC', cursive;
    color: #221D21;
}

.headline {
    font-size: 4vh;
    margin: 0;
    padding: 0;
}

.header {
    min-height: 10vh;
    background-color: #E51535;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 2.5vh;
}

.side-menu-button {
    background-color: #CBA92B;
    position: absolute;
    min-width: 8vh;
    min-height: 8vh;
    left: 0.8vh;
    top: 0.95vh;
    font-size: 2.5vh;
    border: none;
    border-radius: 3px;
    margin-left: 335px;
}

.side-menu-button:hover {
    cursor: pointer;
}

.menu {
    position: fixed;
    width: 330px;
    height: 100%;
    border-bottom: 1px solid #d5d8df;
    background-color: #FAA70D;
    padding: 25px;
    top: 0;
    left: 0;
}

.menu input {
    margin-top: 8px;
    width: 100%;
    border-radius: 3px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    cursor: grabbing;
    padding-left: 3px;
    font-size: 2.75vh;
}

.menu li:hover {
    background-color: #E51535;
    color: white;
}

.info-window {
    text-align: center;
}

.info-window h1 {
    font-size: 40px;
}

.star-rating-menu {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 2.00vh;
}

.info-window-stars {
    text-align: center;
}

.further_details {
    font-size: 2.6vh;
    line-height: 0.6em;
}

/* Tablets */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .headline {
        font-size: 2.8vh;
    }

    .menu {
        width: 260px;
        padding: 20px;
    }

    .side-menu-button {
        margin-left: 260px;
    }

    .star-rating-menu {
        font-size: 1.30vh;
    }
}

/* Smartphones */
@media only screen
and (max-device-width: 767px) {
    .headline {
        font-size: 1.8vh;
    }

    .menu {
        width: 180px;
        padding: 3px;
    }

    .side-menu-button {
        margin-left: 180px;
    }

    .star-rating-menu {
        font-size: 0.80vh;
    }

    .gm-style-mtc {
        display: none;
    }
}
