@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

* {
    font-family: 'Amatic SC', cursive;
    color: #221D21;
}

/* another colors
#E51535
#FAA70D
#CBA92B
*/

.header {
    min-height: 6vmin;
    text-align: center;
    background-color: #E51535;
}
.side-menu-button {
    background-color: #CBA92B;
    position: absolute;
    min-width: 40px;
    min-height: 40px;
    left: 25px;
    top: 7.5px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
}

.side-menu-button:hover {
    cursor: pointer;
}

.menu {
    position: absolute;
    width: 330px;
    height: calc(100% - 6vmin);
    top: calc(6vmin);
    border-bottom: 1px solid #d5d8df;
    background-color: #FAA70D;
    padding: 25px;
}

.menu input {
    margin-top: 8px;
    width: 100%;
    border-radius: 3px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    font-size: 25px;
    cursor: grabbing;
    padding-left: 3px;
}

.menu li:hover {
    background-color: #E51535;
    color: white;
}

.info-window {
    text-align: center;
}

.info-window h1 {
    font-size: 40px;
}

.star-rating-menu {
    font-size: 17px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.info-window-stars {
    text-align: center;
}
